Repository sh4d1t0/react-initial: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:base --fix, prettier --write

.lintstagedrc.json:

{
  "linters": {
    "*.{js,jsx}": ["npm run lint:base --fix", "git add"],
    "*.{js,jsx,json,css}": ["prettier --write", "git add"]
  }
}

Add Flow
  .flowconfig
  .lintstagedrc.json
  flow-typed/module.js
  package.json
  src/app/blog/actionTypes.jsx
  src/app/blog/api.jsx
  src/app/blog/constants.jsx
  src/app/blog/index.jsx
  src/app/blog/reducer.jsx
  src/app/client.jsx
  src/app/home/components/Home.jsx
  src/server/api/data/posts.js
  src/server/api/index.jsx
  src/server/html.jsx
  src/server/index.jsx
  src/server/serverRender.jsx
  src/shared/configureStore.js
  src/shared/reducers/index.js
  src/shared/routes.jsx
  src/shared/utils/data.js
  src/shared/utils/device.js
  src/shared/utils/enviroment.js
  webpack.config.js
Due: npm run lint:base --fix, prettier --write

Update dev dependencies and changes in react-hot-loader
  package.json
  src/app/App.jsx
  src/app/client.jsx
Due: npm run lint:base --fix, prettier --write

Update dev dependencies
  README.md
  package.json
Due: prettier --write

update dev dependencies and dependencies
  package.json
Due: prettier --write

update dev dependencies
  package.json
Due: prettier --write

update flowconfig, flow-typed
  .flowconfig
  flow-typed/module.js
  package.json
  src/app/App.jsx
  src/app/about/components/About.jsx
  src/app/blog/actionTypes.jsx
  src/app/blog/actions.jsx
  src/app/blog/api.jsx
  src/app/blog/components/Posts.jsx
  src/app/blog/constants.jsx
  src/app/blog/index.jsx
  src/app/blog/reducer.jsx
  src/app/client.jsx
  src/app/home/components/Home.jsx
  src/server/serverRender.jsx
Due: npm run lint:base --fix, prettier --write

Fix Flow issues
  src/app/blog/actions.jsx
  src/app/blog/index.jsx
  src/server/serverRender.jsx
Due: npm run lint:base --fix, prettier --write

Update dependencies
  package.json
Due: prettier --write

format files with prettier
  .babelrc
  .eslintrc
  .prettierrc
Due: none

new rules for console
  .eslintrc
  src/server/serverRender.jsx
Due: npm run lint:base --fix, prettier --write

Update dependencies, add cssnano, production optimization
  package.json
  src/app/home/components/Home.scss
  webpack/configuration/index.js
  webpack/configuration/optimization.js
  webpack/configuration/plugins.js
  webpack/configuration/rules.js
  webpack/webpack.config.server.js
Due: npm run lint:base --fix, prettier --write

update dependencies
  package.json
Due: prettier --write

update dependencies, add flowtype, new rules
  .eslintrc
  package.json
  src/shared/configureStore.js
  src/shared/reducers/deviceReducer.js
  src/shared/utils/api.js
  src/shared/utils/data.js
  src/shared/utils/device.js
  src/shared/utils/enviroment.js
  src/shared/utils/is.js
Due: npm run lint:base --fix, prettier --write

add query string, and flowtypes fixes
  package.json
  src/server/serverRender.jsx
Due: npm run lint:base --fix, prettier --write

Fixed flowtypes rules
  .eslintrc
  src/app/App.jsx
  src/app/about/components/About.jsx
  src/app/blog/actions.jsx
  src/app/blog/api.jsx
  src/app/blog/components/Posts.jsx
  src/app/blog/index.jsx
  src/app/blog/reducer.jsx
  src/app/home/components/Home.jsx
  src/server/html.jsx
  src/server/serverRender.jsx
Due: npm run lint:base --fix, prettier --write

update dependencies and add type states
  package.json
  src/app/about/components/About.jsx
  src/app/blog/components/Posts.jsx
  src/app/blog/index.jsx
  src/app/home/components/Home.jsx
  src/shared/utils/api.js
Due: npm run lint:base --fix, prettier --write

change webpack-cli to webpack-command, add new webpack configuration
  package.json
  webpack/configuration/index.js
  webpack/configuration/optimization.js
  webpack/configuration/output.js
  webpack/configuration/performance.js
  webpack/configuration/rules.js
  webpack/webpack.config.common.js
Due: npm run lint:base --fix, prettier --write

Webpack compression and optimization
  package.json
  public/app/index.html
  webpack/configuration/devtool.js
  webpack/configuration/optimization.js
  webpack/configuration/plugins.js
Due: npm run lint:base --fix, prettier --write

Webpack compression and optimization
  webpack/configuration/optimization.js
Due: npm run lint:base --fix, prettier --write

Webpack compression and optimization
  package.json
  src/server/html.jsx
  webpack/configuration/optimization.js
  webpack/configuration/plugins.js
Due: npm run lint:base --fix, prettier --write

Webpack compression and optimization
  package.json
  src/server/html.jsx
Due: npm run lint:base --fix, prettier --write

Webpack compression and optimization
  public/app/index.html
  public/css/main.style.css
  webpack/configuration/optimization.js
  webpack/configuration/rules.js
  webpack/webpack.config.client.js
Due: npm run lint:base --fix, prettier --write

Webpack reduce size build
  public/app/index.html
  webpack/configuration/devtool.js
Due: npm run lint:base --fix, prettier --write

Webpack reduce size build
  package.json
  public/app/index.html
  public/app/main.bundle.js.map
  public/app/vendors.bundle.js.map
  src/server/html.jsx
  webpack/configuration/index.js
  webpack/configuration/optimization.js
  webpack/configuration/performance.js
  webpack/configuration/stats.js
  webpack/webpack.config.server.js
Due: npm run lint:base --fix, prettier --write

fix eslint fix husky
  package.json
Due: prettier --write

Webpack performance
  package.json
  public/app/main.bundle.js.map
  public/app/vendors.bundle.js.map
  webpack/configuration/devtool.js
  webpack/configuration/optimization.js
  webpack/configuration/plugins.js
  webpack/configuration/stats.js
  webpack/webpack.config.client.js
Due: npm run lint:base --fix, prettier --write

Webpack performance
  package.json
  public/app/index.html
  public/app/main.bundle.js.map
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/assets-parity/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/md5/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/missing-resolve/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module-resolve/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module/log0001
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module/log0002
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/resolver/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/stamp
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/version
  public/app/vendors.bundle.js.map
  webpack/configuration/plugins.js
  webpack/configuration/stats.js
Due: npm run lint:base --fix, prettier --write

new rules gitignore
  .gitignore
Due: none

new rules gitignore
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/assets-parity/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/md5/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/missing-resolve/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module-resolve/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module/log0001
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/module/log0002
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/resolver/log0000
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/stamp
  public/app/node_modules/.cache/hard-source/b730fe4fabeb03b77174f0888455dc24c75871474301cfa13859364adcb75a02/version
Due: none

main.style.css deleted
  public/css/main.style.css
Due: prettier --write

new cache node modules
  webpack/configuration/plugins.js
Due: npm run lint:base --fix, prettier --write

updated dependencies and prettier styles
  package.json
  src/app/blog/components/Posts.scss
  src/app/home/components/Home.scss
Due: prettier --write

prettier styles
  src/shared/styles/_global-mixins.scss
  src/shared/styles/_global.scss
  src/shared/styles/_vars.scss
Due: none

new rules lint staged less and sass
  .lintstagedrc.json
Due: prettier --write

add precise commits prettier
  .lintstagedrc.json
  package.json
  src/app/blog/components/Posts.scss
Due: prettier --write

add airbnb for eslint rules and fixes
  .eslintrc
  .eslintrc.json
  .flowconfig
  package.json
  src/app/blog/components/Posts.jsx
  src/app/blog/index.jsx
  src/app/home/components/Home.jsx
  src/shared/configureStore.js
  src/shared/utils/api.js
  src/shared/utils/data.js
  src/shared/utils/enviroment.js
  src/shared/utils/is.js
  webpack/configuration/performance.js
  webpack/configuration/plugins.js
Due: npm run lint:base --fix, prettier --write
