Repository sh4d1t0/react-initial: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --fix, npm run precise-commits

fix styled-components flow, add async await to redux
  .flowconfig
  src/app/components/Posts/index.jsx
  src/app/features/actions/Posts/index.jsx
Due: npm run lint --fix, npm run precise-commits

remove webpack-notifier, update HMR, update dependencies
  package.json
  src/app/App.jsx
  src/app/client.jsx
  webpack/configuration/plugins.js
  webpack/webpack.config.common.js
Due: npm run lint --fix, npm run precise-commits

update dependencies, flow-typed to styled-components
  flow-typed/module.js
  flow-typed/npm/styled-components_v4.x.x.js
  package.json
  webpack/configuration/plugins.js
Due: npm run lint --fix, npm run precise-commits

update lint-staged commands
  .lintstagedrc.json
  src/app/App.jsx
Due: npm run lint --fix, npm run precise-commits

refactoring functions
  src/app/components/About/index.jsx
  src/app/components/Home/index.jsx
  src/app/components/Navbar/index.jsx
Due: npm run lint --fix, npm run precise-commits

update vscode settings
  .gitignore
  .vscode/settings.json
Due: npm run precise-commits

update gitignore
  .gitignore
Due: none

fix compression encoding
  src/server/index.jsx
Due: npm run lint --fix, npm run precise-commits

update dependencies, no console log
  package.json
  src/server/index.jsx
Due: npm run lint --fix, npm run precise-commits

update dependencies
  package.json
Due: npm run precise-commits

Jest, config and first test
  .eslintrc.json
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  package.json
  src/app/views/Blog/blog.test.jsx
Due: npm run lint --fix, npm run precise-commits

update dependencies, change npm to yarn
  .gitignore
  package.json
  src/app/components/Home/home.test.jsx
Due: npm run lint --fix, npm run precise-commits

change npm to yarn
  .huskyrc
  .lintstagedrc.json
  README.md
Due: npm run precise-commits

remove console logs
  src/app/views/Blog/blog.test.jsx
Due: npm run lint --fix, npm run precise-commits

update gitignore
  .gitignore
  .yarnclean
  yarn.lock
Due: none

more configuration jest
  package.json
  src/app/components/Home/home.test.jsx
  src/app/views/Blog/blog.test.jsx
  yarn.lock
Due: npm run lint --fix, npm run precise-commits

node >=10.15.3 and update dependencies
  package.json
  yarn.lock
Due: npm run precise-commits

fixed istanbul-reports on yarnclean, add redux-mock-store, add navbar tests
  .yarnclean
  package.json
  src/app/components/Home/home.test.jsx
  src/app/components/Navbar/navbar.test.jsx
  yarn.lock
Due: npm run lint --fix, npm run precise-commits

more tests files
  src/app/components/About/about.test.jsx
  src/app/views/PageNotFound/pagenotfound.test.jsx
Due: npm run lint --fix, npm run precise-commits

new store testing
  src/app/components/About/about.test.jsx
  src/app/components/Home/home.test.jsx
  src/app/components/Navbar/navbar.test.jsx
  src/app/views/Blog/blog.test.jsx
  src/app/views/PageNotFound/pagenotfound.test.jsx
Due: npm run lint --fix, npm run precise-commits

update jest dependencies
  package.json
  yarn.lock
Due: npm run precise-commits

update dependencies
  package.json
  yarn.lock
Due: npm run precise-commits

add new jest configuration
  config/jest/setupTestFramework.js
  jest.config.js
  package.json
  src/app/components/About/about.test.jsx
  src/app/components/Home/home.test.jsx
  src/app/components/Navbar/navbar.test.jsx
  src/app/views/PageNotFound/pagenotfound.test.jsx
  yarn.lock
Due: npm run lint --fix, npm run precise-commits

update dependencies
  .lintstagedrc.json
  package.json
  yarn.lock
Due: npm run precise-commits

fix tests
  src/app/components/About/about.test.jsx
  src/app/components/Home/home.test.jsx
  src/app/views/Blog/blog.test.jsx
Due: npm run lint --fix, npm run precise-commits

Path conditions:
  npm run lint --fix: any of: *.{js,jsx}
  npm run precise-commits: any of: *.{js,jsx,json,css,sass,less}
