Repository sh4d1t0/react-initial: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --fix, npm run precise-commits

Fix bootstrap integration
  src/app/client.jsx
  src/app/components/Posts/index.jsx
Due: npm run lint --fix, npm run precise-commits

Ajuste para regla de prefijos
  package.json
  src/app/client.jsx
  src/app/components/About/index.jsx
Due: npm run lint --fix, npm run precise-commits

Ajustes de Prefijo CSS
  src/app/client.jsx
  webpack/configuration/rules.js
Due: npm run lint --fix, npm run precise-commits

Fix webpack bootstrap with css-loader modules and production
  flow-typed/module.js
  src/app/components/About/About.css
  src/app/components/About/index.jsx
  webpack/configuration/optimization.js
  webpack/configuration/rules.js
Due: npm run lint --fix, npm run precise-commits

fix autoprefixer sass and less
  package.json
  src/app/components/About/About.css
  src/app/components/About/index.jsx
  webpack/configuration/plugins.js
  webpack/configuration/rules.js
Due: npm run lint --fix, npm run precise-commits

Use global mixins example sass
  src/app/components/Home/Home.scss
Due: none

Fix prettier import
  src/app/components/About/About.css
  src/shared/styles/_global-mixins.scss
  src/shared/styles/_global.scss
  src/shared/styles/_vars.scss
Due: npm run precise-commits

Refactoring webpack css and update dependencies
  package.json
  webpack/configuration/plugins.js
  webpack/configuration/rules.js
Due: npm run lint --fix, npm run precise-commits

Clear Redux
  package.json
  src/app/client.jsx
  src/app/features/blog/actionTypes.jsx
  src/app/features/blog/actions.jsx
  src/app/features/blog/constants.jsx
  src/app/features/blog/reducer.jsx
  src/app/views/Blog/index.jsx
  src/server/html.jsx
  src/server/index.jsx
  src/server/serverRender.jsx
  src/shared/configureStore.js
  src/shared/reducers/deviceReducer.js
  src/shared/reducers/index.js
Due: npm run lint --fix, npm run precise-commits

add reactContext API
  src/app/components/Posts/index.jsx
  src/app/store/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

reestructure store
  src/app/App.jsx
  src/app/components/Posts/index.jsx
  src/app/features/blog/api.jsx
  src/app/features/blog/index.jsx
  src/app/store/index.jsx
  src/app/views/Blog/index.jsx
  src/shared/routes.jsx
Due: npm run lint --fix, npm run precise-commits

Routes with store and React Create Context
  src/app/App.jsx
  src/app/components/Posts/index.jsx
  src/app/features/blog/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Fix Analyzer mode and update dependencies
  package.json
  webpack/configuration/plugins.js
Due: npm run lint --fix, npm run precise-commits

Fix Analyzer mode
  webpack/configuration/plugins.js
Due: npm run lint --fix, npm run precise-commits

Update Dependencies, add props to react context consumer
  package.json
  src/app/components/Posts/index.jsx
  src/app/features/blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Prepare React.lazy and improve React Context API
  package.json
  src/app/App.jsx
  src/app/features/blog/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Using static contextType from React Context API
  src/app/App.jsx
  src/app/components/Posts/index.jsx
  src/app/features/blog/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Improve React Context API
  src/app/components/Posts/index.jsx
  src/app/features/blog/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Improve React Context API and update dependencies
  package.json
  src/app/components/Posts/index.jsx
Due: npm run lint --fix, npm run precise-commits

Improve React Context API
  src/app/components/Posts/index.jsx
  src/app/features/blog/api.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Improve React Context API and update dependencies
  package.json
  src/app/App.jsx
  src/app/components/Posts/index.jsx
  src/app/components/Users/Avatar.jsx
  src/app/components/Users/Info.jsx
  src/app/features/blog/index.jsx
  src/app/views/Blog/index.jsx
  src/server/api/data/posts.js
  src/server/api/index.jsx
  src/shared/routes.jsx
Due: npm run lint --fix, npm run precise-commits

Improve React Context API
  src/app/features/blog/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

update dependencies and add vscode settings nullable typescript and javascript validate
  .gitignore
  .vscode/settings.json
  package.json
Due: npm run precise-commits

update vscode settings
  .vscode/settings.json
Due: npm run precise-commits

gitignore vscode settings
  .gitignore
Due: none

Update dependencies
  .huskyrc
  package.json
Due: npm run precise-commits

upgrade husky
  .huskyrc
Due: none

New structure
  .flowconfig
  src/app/components/Posts/index.jsx
  src/app/features/api/blog/index.jsx
  src/app/features/context/blog/index.jsx
  src/app/views/Blog/index.jsx
  webpack/configuration/alias.js
Due: npm run lint --fix, npm run precise-commits

Separate react api context
  src/app/components/Posts/index.jsx
  src/app/components/Users/index.jsx
  src/app/features/api/blog/index.jsx
  src/app/features/api/post/index.jsx
  src/app/features/context/Posts/index.jsx
  src/app/features/context/blog/index.jsx
  src/app/features/context/users/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Restructure
  src/app/components/Posts/index.jsx
  src/app/features/api/Blog/index.jsx
  src/app/features/api/Post/index.jsx
  src/app/features/context/Blog/index.jsx
  src/app/features/context/Users/index.jsx
  src/app/views/Blog/index.jsx
Due: npm run lint --fix, npm run precise-commits

Separate Users context, components, features and views
  src/app/components/Users/index.jsx
  src/app/features/api/Users/index.jsx
  src/app/views/Users/index.jsx
  src/shared/routes.jsx
Due: npm run lint --fix, npm run precise-commits

Add users menu
  src/app/components/Home/index.jsx
Due: npm run lint --fix, npm run precise-commits

Search github users
  src/app/components/Users/UserForm.jsx
  src/app/components/Users/index.jsx
  src/app/features/api/Users/index.jsx
  src/app/views/Blog/index.jsx
  src/app/views/Users/index.jsx
Due: npm run lint --fix, npm run precise-commits

New shared component, navbar
  .flowconfig
  src/app/components/About/About.css
  src/app/components/About/index.jsx
  src/app/components/Home/index.jsx
  src/app/components/Posts/index.jsx
  src/app/components/Users/Avatar.jsx
  src/app/components/Users/Info.jsx
  src/app/components/Users/UserForm.jsx
  src/app/components/Users/Users.scss
  src/app/components/Users/index.jsx
  src/app/views/Blog/index.jsx
  src/app/views/Users/index.jsx
  src/shared/components/Navbar/Navbar.scss
  src/shared/components/Navbar/index.jsx
  webpack/configuration/alias.js
Due: npm run lint --fix, npm run precise-commits

Fix shared component alias flow
  .flowconfig
Due: none

Update dependencies
  .gitignore
  .vscode/settings.json
  package.json
  src/app/views/Users/index.jsx
Due: npm run lint --fix, npm run precise-commits

Ignore vscode settings
  .gitignore
Due: none

fix styles and new outputs
  .gitignore
  package.json
  src/app/components/Home/Home.scss
  src/app/components/Users/Users.scss
  src/server/html.jsx
  webpack/configuration/extensions.js
  webpack/configuration/output.js
  webpack/configuration/plugins.js
  webpack/configuration/rules.js
Due: npm run lint --fix, npm run precise-commits

fix css production, better optimizations
  package.json
  src/server/html.jsx
  src/server/serverRender.jsx
  webpack/configuration/optimization.js
  webpack/configuration/plugins.js
Due: npm run lint --fix, npm run precise-commits

update dependencies, add gzip express compression
  .gitignore
  package.json
  src/server/index.jsx
  webpack/configuration/devtool.js
  webpack/configuration/optimization.js
  webpack/configuration/plugins.js
  webpack/configuration/rules.js
Due: npm run lint --fix, npm run precise-commits

Path conditions:
  npm run lint --fix: any of: *.{js,jsx}
  npm run precise-commits: any of: *.{js,jsx,json,css,sass,less}
